.carousel {
    width: 100%;

}

.carousel div {
    width: 100%;
    height: 500px;

}

.carousel div:nth-of-type(1) {
    // background-color: red;
    background: url(/src/assets_index_2019-01-06/slideshow.png);
    
}

.carousel div:nth-of-type(2) {
    background: url(https://picsum.photos/1920/900);
    background-position: 50% 50%;

}

.carousel div:nth-of-type(3) {
    background: url(https://picsum.photos/1000/500);
    background-position: 50% 50%;
    background-size: cover;
}