@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #464646;
  /*無法在定義全文字顏色後改變hover顏色*/
}
* a:hover {
  color: #217484;
  font-weight: 500;
  cursor: pointer;
}

img {
  width: 100%;
}

.function-container {
  border-bottom: 1px #eeeeee solid;
}

.content-container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
}

.function-container__bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.function-container__ul {
  list-style: none;
  display: flex;
}
.function-container__ul li {
  margin-left: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

.function-container__arrow {
  position: relative;
  top: -2px;
}

.function-container__search {
  position: absolute;
  right: 5px;
}

.function-container__facebook {
  font-size: 21px;
  color: darkblue;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.menu-container__logo {
  display: flex;
}

.menu-container__content {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-container__content li {
  padding: 0 40px;
  border-right: 1px #464646 solid;
}
.menu-container__content a {
  text-decoration: none;
  color: black;
}
.menu-container__content a:hover {
  color: #217484;
}

.content_container2 {
  background-color: #f2f2f2;
}

.booking {
  max-width: 55%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.booking_title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 2em;
  color: #217484;
}

.booking_block {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
.booking_block li {
  margin-right: 50px;
}

.airport_block {
  display: flex;
  justify-content: space-between;
}

.airport {
  width: 45%;
  height: 40px;
  margin-top: 60px;
  display: inline-block;
}

.date_block {
  display: flex;
  justify-content: space-between;
}
.date_block input[type=date] {
  width: 45%;
  height: 40px;
  margin-top: 60px;
}

.member_block {
  display: flex;
  justify-content: space-between;
}

.member {
  width: 30%;
  height: 40px;
  margin-top: 60px;
}

button {
  width: 30%;
  height: 50px;
  font-size: 1.5rem;
  margin-top: 60px;
  border-radius: 5px;
  background: linear-gradient(#217484, #0b4e5b);
  color: white;
}

.button {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
}

.carousel div {
  width: 100%;
  height: 500px;
}

.carousel div:nth-of-type(1) {
  background: url(/src/assets_index_2019-01-06/slideshow.png);
}

.carousel div:nth-of-type(2) {
  background: url(https://picsum.photos/1920/900);
  background-position: 50% 50%;
}

.carousel div:nth-of-type(3) {
  background: url(https://picsum.photos/1000/500);
  background-position: 50% 50%;
  background-size: cover;
}

.explore__title {
  display: flex;
  justify-content: center;
  margin: 70px 0 50px 0;
  font-size: 2em;
  color: #217484;
}

.explore__selectors {
  margin-bottom: 32px;
  padding: 0 12px;
}
.explore__selectors li {
  flex-grow: 1;
  text-align: center;
}

.explore__selectors .explore__first {
  text-align: left;
}

.explore__selectors .explore__last {
  text-align: right;
}

.explore__content {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .explore__content {
    width: 80%;
  }
}

.explore__content ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.explore__area {
  border-right: 1px #464646 solid;
}

.explore__block {
  padding: 0 12px;
}

.explore__block__text {
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
}

.explore__block__text :nth-last-child(1) {
  padding-top: 20px;
  text-align: left;
  font-size: 14px;
}

.explore__slide {
  display: flex;
  justify-content: space-between;
}

span {
  font-size: 14px;
}

.explore__arrow {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.explore__prev {
  position: absolute;
  top: 50%;
  left: 10px;
}

.explore__next {
  position: absolute;
  top: 50%;
  right: 10px;
}

/*# sourceMappingURL=style.css.map */
